
body{
    font-family: 'Ubuntu', sans-serif;
	padding-left: 7%;
	padding-right: 7%;
	
}

hr{
    margin-top: 1%;
    border-style: solid;
    color:#39a9cb;
    
}
#desc{
    clear: left;
    font-weight:bold ;
    margin-top: 4%;
    margin-left: 3%;
}
.top {
	padding: 25px 35px ;
	
    font-family: 'Ubuntu', sans-serif;
}
h2{
    color: #39a9cb;
    
}
#photo {
    width: 12%;
	float: left;
	margin-right: 30px;
}
.image_cropper {
	vertical-align: middle;
	width: 150px;
    height: 150px;
  
}


#name h1 {
	font-size: 2.5em;
	font-weight: 500;
	

} 	

#name h2 {
	font-size: 1.2em;
	
	font-weight:bold;
    color: #39a9cb;
	
}
#name {
	float: left;
}
.contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 1em;
	
	text-align:right;
}
#contactDetails ul li {
	margin-bottom: 3px;
	color:#444;
}
.mydetails{
   
    padding-left: 3%;
  
}


.location{
   float: right;
    font-style: italic;
    
    
}
.pc{
	padding-left: 3%;
}
.edu{
	line-height: 0.5;
	
	
}
.projects{
	line-height: 0.5;
	float: left;
}
.certificates{
	float: right;
}
.skills{
	line-height: 0.5;
}